@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
        45deg,
        rgb(227 70 94 / 30%) 10%,
        transparent 10%,
        transparent 90%,
        rgb(227 70 94 / 30%) 90%
      )
      0% 0% / 3em 3em,
    linear-gradient(
        45deg,
        transparent 40%,
        rgb(227 70 94 / 30%) 40%,
        rgb(227 70 94 / 30%) 60%,
        transparent 0px
      )
      0% 0% / 3em 3em rgb(255, 255, 255);
}
.content {
  background-color: #fff;
  max-width: 998px;
  margin: 20px auto;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
